<h1>Show Serie</h1>

<ul>

  <li>
    <strong>Title:</strong>
    <%= @serie.title %>
  </li>

  <li>
    <strong>Videos:</strong>
    <%= @serie.items_order %>
  </li>

  <div class="list">
    <%= for video <- @videos do %>
      <div class="list_item">
        <%= video.title %>
      </div>
    <% end %>
  </div>

</ul>

<span><%= link "Edit", to: Routes.serie_path(@conn, :edit, @serie) %></span>
<span><%= link "Back", to: Routes.serie_path(@conn, :index) %></span>
